@charset "UTF-8";

/* Mobile-First */

@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);

:root {
    --font-primary: "Poppins", sans-serif;
    --font-secundary: "Josefin Sans", sans-serif;
    --color-background: #EBECEE;
    --color-white: #FFFFFF;
    --color-gray: #474646;
    --color-gray-ligth: #858585;
    --color-black: #000000;
    --color-gold: #EB9B00;
    --color-blue: #002F52;
    --color-blue-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%); 
}

body {
    /* font-family: Arial, sans-serif; EXERCÍCIO 06 */
    background-color: var(--color-background);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
}
